/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN NORMALIZE.CSS)
# Base
# Components
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

html {
	scroll-padding-top: 4.5rem;
	scroll-behavior: smooth;
}

/* Typography
--------------------------------------------- */
body {
	font-family: "Koh Santepheap", serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #282828;
	background-color: #ffffff;
    width: 100%;
}

h1,
h2,
h3 {
	font-family: "Koh Santepheap", serif;
	margin: .5em 0;
	font-size: 1.75rem;
}

p {
	margin: 1.5em 0;
}

/* --- LINKS ---------------------------------------------------------*/

a,
a:visited { 
	color: #008000;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	text-decoration-color
}

a:focus {
	outline: 1px dotted;
}

/* --- ELEMENTS -------------------------------------------------------*/

/* --- INDEX ----------------------------------------------------------*/

.nav-menu ul {
	background-color: rgb(255, 255, 255);
	display: flex;
	gap: 1rem;
	list-style-type: none;
	justify-content: flex-end;
	padding: .5rem;
	margin-top: 0;
}


.vid-box {
	position: relative;

}

.welcome-banner {
	position: absolute;
	bottom: 12rem;
	left: 0;
	right: 0;
	width: fit-content;
	padding: 2rem 4rem;
	margin: 0 auto;
	color: rgb(255, 255, 255);
}

.switzerland-info {
	margin: 0 auto;
	width: 70%;
}

.switzerland-info p {
	border-top: solid;
	border-bottom: solid;
}

.footer {
	background-color: rgb(255, 255, 255);
	text-align: center;
	margin-top: 5rem;
	padding: .2rem;
}

@media (min-width: 50em) {
	.welcome-banner {
		position: absolute;
		bottom: 17rem;
	}

	.nav-menu ul {
		justify-content: center;
	}
}

/* --- FOOD GUIDE ----------------------------------------------------------*/