/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN NORMALIZE.CSS)
# Base
# Components
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

html {
	scroll-padding-top: 4.5rem;
	scroll-behavior: smooth;
}

/* Typography
--------------------------------------------- */
body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #282828;
	background-color: #ffffff;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Georgia, Times, "Times New Roman", serif;
	margin: .5em 0;
	font-size: 1.75rem;
}

p {
	margin: 1.5em 0;
}

/* --- LINKS ---------------------------------------------------------*/

/* a,
a:visited { 
	color: #008000;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	text-decoration: underline;
}

a:focus {
	outline: 1px dotted;
} */

/* --- ELEMENTS -------------------------------------------------------*/

.body-font {
    font-family: "Koh Santepheap", serif;
    font-weight: 350;
    background-color: rgb(247, 202, 209);
}
