/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN NORMALIZE.CSS)
# Base
# Components
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

html {
	scroll-padding-top: 4.5rem;
	scroll-behavior: smooth;
}

/* Typography
--------------------------------------------- */
body {
	font-family: "Koh Santepheap", serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #282828;
	background-color: #ffffff;
    width: 100%;
}

h1,
h2,
h3 {
	font-family: "Koh Santepheap", serif;
	margin: .5em 0;
	font-size: 1.75rem;
}

p {
	margin: 1.5em 0;
}

/* --- LINKS ---------------------------------------------------------*/

a,
a:visited { 
	color: #008000;
	text-decoration-line: none;
}

a:hover,
a:focus,
a:active {
	text-decoration-color: none;
}

a:focus {
	outline: 1px dotted;
}

/* --- ELEMENTS -------------------------------------------------------*/

/* --- INDEX ----------------------------------------------------------*/

.body-font {
	background-color: rgb(211, 211, 211);
}

.nav-menu ul {
	display: flex;
	gap: 1rem;
	list-style-type: none;
	justify-content: flex-end;
	padding: 1rem;
	margin-top: 0;
	border-bottom: solid;
}

.nav-menu a {
	font-weight: 600;
	color: black;
}


.vid-box {
	position: relative;
	padding

	

}

.welcome-banner {
	position: absolute;
	bottom: 12rem;
	left: 0;
	right: 0;
	width: fit-content;
	padding: 2rem 4rem;
	margin: 0 auto;
	color: rgb(255, 255, 255);
}

.switzerland-info {
	margin: 0 auto;
	width: 70%;
}

.switzerland-info p {
	border-top: solid;
	border-bottom: solid;
}

.footer {
	background-color: rgb(255, 255, 255);
	text-align: center;
	margin-top: 5rem;
	padding: .2rem;
}

@media (min-width: 50em) {
	.welcome-banner {
		position: absolute;
		bottom: 17rem;
	}

	.nav-menu ul {
		justify-content: center;
	}
}

/* --- FOOD GUIDE ----------------------------------------------------------*/

.food-guide {
	width: 70%;
	text-align: center;
}

.food-main {
	margin: 0 auto;
	width: 70%;
}


.food-figure {
	width: 70%;
	height: auto;
}

.food-figure img {
	border-radius: 3rem;
	width: 100%;
}

@media (min-width: 50em) {
	.nav-menu ul {
		justify-content: center;
	}

	.food-main {
		width: 100%;
	}

	.food-article {
		display: flex;
		flex-direction: column;
	}

	.food-figure img {
		max-width: 40%;
		padding: .5rem;
	}


	.food-figure figcaption {
		margin-top: .5rem;
	}

	.food-figure {
		display: flex;
	}

}

/* --- ACTIVITIES ----------------------------------------------------------*/




@media (min-width: 50em) {

	.nav-menu ul {
		justify-content: center;
	}

}